*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --white: rgba(255,255,255,0.86);
    --dull-white: rgba(255,255,255, 0.70);
    --black: rgba(0,0,0,0.75);
    --green: rgba(63, 195, 128, 1);
}

body{
    background: linear-gradient(45deg, rgba(48,48,50,1) 0%, rgba(36,36,99,0.7147059507396709) 50%, rgba(0,0,0,1) 100%);    
}

button{
    background-color: var(--white);
    border-style: none;
    padding: 1rem, 1.5rem, 1rem,1.5rem;
    font-size: 22px;
}

.calculator{
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.66);
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(6,100px);
}

.calculator>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(0,0,0,0.86);
    outline: none;    
}

.del-button{
    grid-row: span 2;
}

.equals-button{
    grid-row: span 4;
}

.output{
    background-color: var(--black);
    font-family: 'Orbitron', sans-serif;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previews-operand{
    color: var(--dull-white);
    font-size: 1.5rem;
}

.output .current-operand{
    color: var(--white);
    font-size: 2.5rem;
}

@media screen and (max-width: 760px){
    .button{
        font-size: 15px !important;
    }
    .calculator{
        grid-template-columns: repeat(4,70px);
        grid-template-rows: minmax(120px, auto) repeat(6,70px);
    }
}

/*
    Conditional Stylization of buttons
*/

.green-button{
    background-color: var(--green);
}
.green-button:hover{
    background-color: rgba(63, 195, 128, 0.75);
}
.green-button:active{
    background-color:  rgb(12, 240, 126);
}

.orange-button{
    background-color: rgba(241, 90, 34, 1);
}

.orange-button:hover{
    background-color:  rgba(236, 74, 15, 0.75)
}
.orange-button:active{
    background-color:  rgb(236, 74, 15);
}

.functions{
    background-color: rgba(170,170,170,1);
}

.functions:hover,
.number-buttons:hover{
    background-color: rgba(190,190,190,0.75)
}
.functions:active,
.number-buttons:active{
    background-color: rgba(190,190,190,1);
}

/* .active-num{
    background-color: rgba(190,190,190,1);
}

.active-del{
    background-color: rgba(12, 240, 126) !important;
}

.active-eq{
    background-color:  rgb(236, 74, 15) !important;
} */