:root{
    --white: rgba(255,255,255,0.86);
    --black: rgba(0,0,0,0.86);
    --green: rgba(63, 195, 128, 1);
}

body{
    background: linear-gradient(45deg, rgba(48,48,50,1) 0%, rgba(36,36,99,0.7147059507396709) 50%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: var(--white);
    border-style: none;
    padding: 1rem, 1.5rem, 1rem,1.5rem;
    font-size: 22px;
}

.calculator{
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.66);
}

.display{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Orbitron', sans-serif;
    width: 35vw;
    font-size: 40px;
    text-align: right;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.2em;
}

.button-container{
    background-color: var(--black);
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 2px;
    height: 40vh;
    grid-template-areas: 
        "log pow square DEL"
        "plus minus multiply divide"
        "seven eight nine equals"
        "four five six equals"
        "one two three equals"
        "zero point AC equals";
}

#zero{
    grid-area: zero;
}
#one{
    grid-area: one;
    
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;    
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#equals{
    grid-area: equals;
}
#plus{
    grid-area: plus;
}
#minus{
    grid-area: minus;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#point{
    grid-area: point;
}
#clear{
    grid-area: AC;
    
}
#log{
    grid-area: log;
}
#power{
    grid-area: pow;
}
#square-root{
    grid-area: square;
}
#back{
    grid-area: DEL;
}

#clear, #back{
    background-color: var(--green);
}

#clear:active,
#back:active{
    background-color: rgb(6, 218, 112);
}

#equals{
    background-color: rgba(241, 90, 34, 1);
}

#equals:active{
    background-color:  rgb(236, 74, 15);
}

.functions{
    background-color: rgba(170,170,170,1);
}

.functions:active,
.non-functions:active{
    background-color: rgba(190,190,190,1);
}